body {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

label {
    font-weight: bold;
}

div.silly_story_gen {
    padding-bottom: 20px;
    width: 350px;
    margin: 0 auto;
}

input[type="text"] {
    padding: 5px;
    width: 150px;
}

p.story {
    background: #FFC125;
    color: #5E2612;
    padding: 10px;
    visibility: hidden;
}
